:root {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  font-weight: 300;
}

body  
{
  background-image: url("/src/assets/images/Background.gif");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}