.ctnBody {
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #090615;
}

.Ssorts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #f8f8f4;
}

.select {
  width: 10em;
  margin: 1em;
  padding: 0.5em;
  background: white;
  color: #4b07f6;
  border: none;
  border-radius: 0.4em;
}

.btn {
  width: 10em;
  margin: 1em;
  padding: 0.2em;
  background-color: #d9d133;
  color: rgb(60, 7, 207);
  border: none;
  border-radius: 0.2em;
}

.btn:hover {
  border: solid #e8e8e8;
  background: #e5ebe8;
}
