.ctnBody {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .btn {
  width: 5em;
  height: 2.5em;
  margin-right: 70em;
  margin-bottom: 1.5em;
  padding: 0.3em;
  border: none;
  border-radius: 0.2em;
  background-color: #0042ac;
  cursor: pointer;
}

.btn:hover {
  background-color: #022d76;
}

.id {
  grid-area: id;
}

.name {
  grid-area: name;
}

.img {
  grid-area: img;
}

.types {
  grid-area: types;
}

.stats {
  grid-area: stats;
}

.mStats {
  grid-area: mStats;
}

.ctnInfo {
  width: 50vw;
  height: 60vh;
  padding: 5em;
  margin-right: 20em;
  margin-bottom: 2em;
  background: #e7f526;
  border: solid 0.3em rgb(5, 24, 23);
  box-shadow: 2px 2px 25px 13px #e1e1e1;
  border-radius: 0.3em;
  display: grid;
  grid-template-columns: repeat(15em);
  grid-template-rows: repeat(12.5em);
  grid-template-areas:
    "id . . name"
    "img img types types"
    "img img stats stats"
    "img img mStats mStats";
  align-content: center;
}

.id {
  text-align: start;
  font-size: large;
  color: blue;
}

.name {
  text-align: start;
  font-size: large;
  text-transform: uppercase;
  color: blue;
}

.imag {
    width: 20em;
    height: 12em;
    animation: moverImagen 5s linear infinite; /* Define la animación */
}

@keyframes moverImagen {
    0% {
        transform: translateX(0); /* La imagen empieza en su posición original */
    }
    100% {
        transform: translateX(50%); /* La imagen se mueve completamente hacia la derecha */
    }
}

.types {
  color: blue;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  justify-content: right;
  font-size: medium;
}

.stats {
  color: blue;
  display: flex;
  flex-direction:row;
}

.stat {
  color: blue;
  margin: 0.5em;
  font-size: medium;
}

.mStats {
  display: flex;
  flex-direction: row;
}
