.ctnBody {
  margin-top: 9em;
  margin-right: 50em;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.imag {
  width: 12em;
  height: 8em;
}

.welcome {
  color: rgb(54, 38, 193);
  align-items: center;
  background-color: #c5c175;
}

.btn {
  padding: 6em 2em 5em;
  font-family: Arial;
  font-size: 1.2em;
  background: url("../../assets/images/PokemonBtn.png") no-repeat center center;
  background-size: contain; /* Para que la imagen se ajuste al tamaño del botón */
  border: none;
  border-radius: 0.5em;
  cursor: pointer;

}

.btn:hover {
  color: hsl(247, 97%, 31%);
  

}
