.ctnBody
 {
  margin-top: 9em;
  margin-right: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imag {
  width: 12em;
  height: 6em;
}

.welcome {
  color: rgb(54, 38, 193);
  align-items: center;
  

}

.btn {
  padding: 0.5em;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  background: #d9d133;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

.btn:hover {
  color: hsl(0, 0%, 85%);
  background: #2e00ac;
}
