.container {
  margin-top: 9em;
  margin-right: 22em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imag {
  width: 15em;
  height: 6em;
}

.welcome {
  color: aliceblue;
  text-shadow: -2px 4px 2px rgba(0, 0, 0, 0.6);
}

.btn {
  padding: 0.5em;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  text-shadow: -2px 4px 2px rgba(0, 0, 0, 0.6);
  background: #0955d0;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

.btn:hover {
  color: hsl(0, 0%, 85%);
  background: #00ac45;
}
